<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html 2</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="sub">Minha página de estudos</h1>
    <h2>estou aprendendo a programar como front and</h2>
    <h3>feliz por agregar mais conhecimentos em minha trajetória profissional </h3>
    <h4>teste de tamanho</h4>
    <h5>teste de tamanho</h5>
    <h6>teste de tamanho</h6>

    <img src="img/205093D9-2784-41E2-A32B-BD8D0A61FF81.jpg" alt="luck e lizzie" class="imagem1">
    <img src="img/IMG_0260.JPG" alt="meu nenem" class="imagem2">
    <img src="img/IMG_1350.JPG" alt="luck nenem" class="imagem3">
    <div>
        <p>estou dentro da div</p>
    </div>
    <div>
        <p>estou dentro de outra div</p>
    </div>
    <h2 class="sub"> subtitulo com classe
        
    </h2>
</body>
</html>